<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Data</title>
</head>

<body>

    <div class="container">
        <form id="helpForm" onsubmit="submitData(event)">
            <div class="details">
                <h2>First Name:</h2>
                <input type="text" name="firstName" value="{{helpData.firstName}}" readonly>

                <h2>Last Name:</h2>
                <input type="text" name="lastName" value="{{helpData.lastName}}" readonly>


                <h2>Category:</h2>
                <input type="text" name="category" value="{{helpData.category}}" readonly>

                <h2>Description:</h2>
                <textarea name="description" readonly>{{helpData.description}}</textarea>
            </div>
            <input type="submit" value="Submit" id="pingbtn">
        </form>

        <script>
            const userId = "{{helpData.userId}}";
            function submitData(event) {
                event.preventDefault(); // Prevent the default form submission

                const formData = new FormData(document.getElementById("helpForm"));
                const formDataObject = Object.fromEntries(formData.entries());
                console.log(formDataObject);
                fetch(`/chat/user?userId=${userId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response =>{
                        window.location.href='/chat/chatBox'
                    })
                    .catch(error => console.error('Error:', error));
                    //.then(data => console.log(data))
            }
        </script>

    </div>

</body>

</html>